AUTH_DB_URL=

TOKEN_SECRET=
TOKEN_EXPIRY=60d

vTOKEN_SECRET=
vTOKEN_EXPIRY=30d

aTOKEN_SECRET=
aTOKEN_EXPIRY=10d

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=15m

vACCESS_TOKEN_SECRET=

aACCESS_TOKEN_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLIENT_URL= 

CLIENT_VENDOR_URL=

COOKIE_DOMAIN=

EMAIL_API_URL=
EMAIL_API_PASSKEY=

XWCID= //admin user mongo ID